<section id="{{ data.name }}" class="home-section text-center">
	<div class="heading-about">
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow bounceInDown" data-wow-delay="0.4s">
				<div class="section-heading">
				<h2>{{ data.title }}</h2>
				<i class="fa fa-2x fa-angle-down"></i>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="container">

	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="marginbot-50">
		</div>
	</div>
    <div class="row">
        <div class="col-xs-12">
			<div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
				<table class="table table-striped">
					<thead>
						<tr>
						{% for header in data.headers %}
							<th>{{ header }}</th>
						{% endfor %}
						<tr>
					</thead>
					<tbody>
						{% for key, value in data.values %}
							<tr>
								<td>
									{{ key }}
								</td>
								<td>
									{{ value }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
            </div>
			</div>
        </div>
    </div>		
	</div>
</section>