{% extends 'TeeworldsBundle::layout.html.twig' %}
{% set menu = menu %}

{% block title %}Totaux - {% endblock %}

{% block body %}
    <section class="home-section text-center">
		<div class="heading-about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="wow bounceInDown" data-wow-delay="0.4s">
							<div class="section-heading">
								<h2>Totaux</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    {{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : kill } ) }}
	{{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : death } ) }}
	{{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : weaponSuicide } ) }}
	{{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : suicide } ) }}
	{{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : teamkill } ) }}
	{{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : ratio } ) }}
	{{ include( 'TeeworldsBundle:App:table.html.twig', { 'data' : weapon } ) }}
{% endblock %}