<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Teeworlds stats">
	    <meta name="author" content="BEC/FLU">

	    <title>{% block title %}{% endblock %}Teeworld stats</title>

	    <!-- Bootstrap Core CSS -->
	    <link href="{{ asset( 'bundles/teeworlds/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

	    <!-- Fonts -->
	    <link href="{{ asset( 'bundles/teeworlds/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset( 'bundles/teeworlds/css/animate.css') }}" rel="stylesheet" />
	    <!-- Squad theme CSS -->
	    <link href="{{ asset( 'bundles/teeworlds/css/style.css') }}" rel="stylesheet">
		<link href="{{ asset( 'bundles/teeworlds/color/default.css') }}" rel="stylesheet">

	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
		<!-- Preloader -->
		<div id="preloader">
		  <div id="load"></div>
		</div>

	    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	        <div class="container">
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	                    <i class="fa fa-bars"></i>
	                </button>
	                <a class="navbar-brand" href="/">
	                    <h1>Teeworld stats</h1>
	                </a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	      <ul class="nav navbar-nav">
	        <li><a href="{{ path('totalStats') }}">Totaux</a></li>
	        <li><a href="{{ path('stats') }}">Stats</a></li>
	        {% for key, value in menu %}
				<li><a href="#{{key}}">{{value}}</a></li>
			{% endfor %}
	      </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>

		<!-- Section: intro -->
	    <section id="intro" class="intro">
		
			<div class="slogan">
				<h2>CONFRÉRIE DU <span class="text_color">GRAPPIN</span> </h2>
				<h4>Statistiques de nos magnifiques pauses du midi !</h4>
			</div>
			<div class="page-scroll">
				<a href="#kill" class="btn btn-circle">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
	    </section>
		<!-- /Section: intro -->

		{% block body %}{% endblock %}
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="wow shake" data-wow-delay="0.4s">
						<div class="page-scroll marginbot-30">
							<a href="#intro" id="totop" class="btn btn-circle">
								<i class="fa fa-angle-double-up animated"></i>
							</a>
						</div>
						</div>
						<p>&copy;Copyright 2014 - FLU / Benjyyyyy. All rights reserved.</p>
					</div>
				</div>	
			</div>
		</footer>

	    <!-- Core JavaScript Files -->
	    <script src="{{ asset( 'bundles/teeworlds/js/jquery.min.js') }}"></script>
	    <script src="{{ asset( 'bundles/teeworlds/js/bootstrap.min.js') }}"></script>
	    <script src="{{ asset( 'bundles/teeworlds/js/jquery.easing.min.js') }}"></script>	
		<script src="{{ asset( 'bundles/teeworlds/js/jquery.scrollTo.js') }}"></script>
		<script src="{{ asset( 'bundles/teeworlds/js/wow.min.js') }}"></script>
	    <!-- Custom Theme JavaScript -->
	    <script src="{{ asset( 'bundles/teeworlds/js/custom.js') }}"></script>

	</body>

</html>
